.msteams-connect {
    margin: 45px 0 0 30px;

    &__title {
        height: 28px;
        font-weight: 600;
        font-size: 30px;
        line-height: 28px;
    }

    &__description {
        width: 746px;
        height: 40px;
        margin-top: 30px;
        font-weight: 400;
        font-size: 14px;
        padding-bottom: 65px;
        line-height: 20px;
    }

    &__button {
        font-weight: 600;
        padding: 6px 18px;
        color: rgb(255, 255, 255);
        box-shadow: $button-shadow;
        border-radius: 4px;
        text-decoration: none;
        background-color: rgb(91, 95, 199);
    }

    &__button:hover {
        color: rgb(255, 255, 255);
        background-color: rgb(68, 70, 145);
        text-decoration: none;
    }

    &__home-button {
        margin-left: 25px;
    }
}
